{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header class="intro-header" style="background-image: url({{ url_for('static', filename='images/back.jpeg') }})">

<div class='container'>
<div class='row'>
<div class="container">
<div class='row'>
<div class='col-md-4 card'>
  <a href="/technology"><h2 class="text-center"  style='background-color:white;' >Technology</h2></a>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <a href="/technology"> <div class="carousel-inner">
      <div class="item active">
        <img src="{{url_for('static',filename='images/tech2.gif')}}" class = 'img-responsive img-thumbnail' alt="tech1" style="width:100%;">
      </div>

      <div class="item">
        <img src="{{url_for('static',filename='images/tech4.gif')}}" class = 'img-responsive img-thumbnail' alt="tech1" style="width:100%;">
      </div>

      <div class="item">
        <img src="{{url_for('static',filename='images/tech3.gif')}}" class = 'img-responsive img-thumbnail'  alt="tech1" style="width:100%;">
      </div>
    </div></a>


    </div>
    </div>



    <div class='col-md-4'>
      <a href="/science"><h2 class="text-center" style='background-color:white;'>Science</h2></a>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">


        <!-- Wrapper for slides -->
        <a href="/science">
        <div class="carousel-inner">
          <div class="item active">
            <img src="{{url_for('static',filename='images/science.gif')}}" class = 'img-responsive img-thumbnail'  alt="tech1" style="width:100%;">
          </div>

          <div class="item">
            <img src="{{url_for('static',filename='images/science1.gif')}}" class = 'img-responsive img-thumbnail'  alt="tech1" style="width:100%;">
          </div>

          <div class="item">
            <img src="{{url_for('static',filename='images/science3.gif')}}" class = 'img-responsive img-thumbnail'  alt="tech1" style="width:100%;">
          </div>
        </div>
        </a>


        </div>
        </div>

          <div class='row'>
                    <div class='col-md-6' >
                      <a href="/religion"><h2 class="text-center"  style='background-color:white;'>Religion</h2></a>
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <a href="/religion">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="{{url_for('static',filename='images/religion1.gif')}}" class = 'img-responsive img-thumbnail' alt="rel1" style="width:100%;">
                          </div>

                          <div class="item">
                            <img src="{{url_for('static',filename='images/religion2.gif')}}" class = 'img-responsive img-thumbnail' alt="rel2" style="width:100%;">
                          </div>

                          <div class="item">
                            <img src="{{url_for('static',filename='images/religion3.gif')}}" class = 'img-responsive img-thumbnail' alt="rel3" style="width:100%;">
                          </div>
                        </div>
                          </a>


                        </div>
                        </div>


                            <div class='col-md-6' >
                              <a href="/sports"><h2 class="text-center"  style='background-color:white;'>Sports</h2></a>
                              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <a href="/sports">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="{{url_for('static',filename='images/sports1.gif')}}" class = 'img-responsive img-thumbnail' alt="rel1" style="width:100%;">
                                  </div>

                                  <div class="item">
                                    <img src="{{url_for('static',filename='images/sports2.gif')}}" class = 'img-responsive img-thumbnail' alt="rel2" style="width:100%;">
                                  </div>

                                  <div class="item">
                                    <img src="{{url_for('static',filename='images/sports.gif')}}" class = 'img-responsive img-thumbnail' alt="rel3" style="width:100%;">
                                  </div>
                                </div>
                            </a>

                                </div>
                                </div>

  </div>
</div>
</div>




</body>
</html>

{% endblock %}
