{% macro displayPitchesList(pitch_list) %}
    {% for pitch in pitch_list %}
        <div class="come" style='margin-left: 20%; margin-top: 0px;'>
            <p>{{ pitch_content }}</p>
           
            <p class="text-center" style='font-size: 5vh;'>{{pitch.pitch_content}}</p>
            <h5 class="text-center">Posted by: {{pitch.user.username}}</h5>
             <div class="text-center">
            <button mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect><a href="/pitch/{{pitch.id}}">Go to pitch</a></button>

            </div>
        </div>
    {% endfor %}
{% endmacro %}
{% macro displayComments(comments_list) %}
    {% for comment in comments_list %}
        <div class="col-md-12">
            <h5>{{comment.user.username}}</h5>
            <p>{{comment.comment}}</p>
        </div>
    {% endfor %}
{% endmacro %}
Collapse



