{% macro displayPitchesList(pitch_list) %}


  <section class="text-center mb-4">
    <div class="row">
 {% for pitch in pitch_list %}
        <div class="card col-lg-3 col-md-6 mb-4"> 
           
          </div>
          <div class="card-body text-center">
            </a>
            <h5>
              <strong>{{pitch.pitch_content}} </strong>

            </h5>
            <hr style='width: 25%;'>
            <h4 class="font-weight-bold default-text">
              <span>Posted by:{{pitch.user.username}}
              </span>
            </h4>
                <a href="/pitch/{{pitch.id}}"><button type="button" class="btn btn-success">See Pitch</button></div>


          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro displayComments(comments_list) %}
    {% for comment in comments_list %}
        <div class="col-md-12">
            <h5>{{comment.user.username}}</h5>
            <p>{{comment.comment}}</p>
        </div>
    {% endfor %}
{% endmacro %}
