    <div class="navbar navbar-default navbar-inverse"  style='margin-bottom: 0px;' role="navigation" id="navigate">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/"> ONE MINUTE PITCH </a>
      </div>

      <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  </ul>

                  <!-- <ul class="nav navbar-nav">
                      <li><a href="/technology">Technology</a></li>
                      </ul> -->

                    <ul class="nav navbar-nav">
                        <li ><a href="/sports">Sports</a></li>
                        </ul>

                        <ul class="nav navbar-nav">
                            <li><a href="/science">Science</a></li>
                            </ul>

                            <ul class="nav navbar-nav">
                                <li ><a href="/employment">Employment</a></li>
                                </ul>

                                <ul class="nav navbar-nav">
                                    <li ><a href="/religion">Religion</a></li>
                                    </ul>


        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
               <li><a href="{{url_for('main.profile',uname=current_user.username)}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                      <!-- <li><a href="#" class="pull-left"><img src="{{url_for('static',filename='images/minute.gif')}}" style="height:25px;"></a></li> -->
          <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Sign out </a></li>
          {% else %}
          <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Sign in </a></li>
          {% endif %}
        </ul>


          </div>

        </div>
      </div>
