<style>
#homeone{
    background-image: url('https://images.pexels.com/photos/3069334/pexels-photo-3069334.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); 
    background-size: cover;
    background-position: center
    color: blue;
    width: 55%;
    text-align: center;
}
</style>
{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container" id='homeone'>

        <div class="col-md-8">
            <h1>PITCH IT</h1>
            {{ wtf.quick_form(pitch_form) }}

        </div>

    </div>

{% endblock %}
