{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <p>{{pitch.pitch_content}}</p>
        <span>
        <p>Posted on {{date}}<br>
        by {{pitch.user.username| capitalize}}</p>
        <a href="/pitch/{{pitch.id}}?upvote=1">
        <i class="material-icons"></i>
            <i class="material-icons"><button type="button" class="btn btn-primary">Like</button></i>
        </a>{{pitch.upvotes}} <a href="/pitch/{{pitch.id}}?downvote=1">
            <i class="material-icons"><button type="button" class="btn btn-primary">Dislike</button></i>
        </a>{{pitch.downvotes}}</span> <br>
                 <a class="ratings"  style='margin-left: 2%;, margin-top: 2%;' href="/pitch/new/"><button type="button" class="btn btn-primary">Add Pitch</button></a>

    </div>
    <div class="row">
        <hr>
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
        {% endif %}
        <h3>Comments</h4>
        {{macro.displayComments(comments)}}
    </div>
</div>
{% endblock %}
